
@media only screen and (max-width: 715px) {
    h3{
        font-size: 150%;
    }
  }

body{
    grid-template-rows: 6% 4% 59% 6%;
    grid-template-columns: 40% 30% 30%;
}

#headerbuffer{
    grid-row-start:2; grid-row-end:3;
    grid-column-start:1; grid-column-end:4;
    background: gray;
    border-bottom: 2px solid rgb(179, 179, 179);
}

h3{
    font-weight: bold;
}

#programming{
    font-family: 'Merriweather Sans', sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    grid-row-start:3; grid-row-end:4;
    grid-column-start:1; grid-column-end:2;
    height: 750px;
}

img{
    width: 25%;
}

#tech{
    font-family: 'Merriweather Sans', sans-serif;
    padding-top: 3%;
    grid-row-start:3; grid-row-end:4;
    grid-column-start:2; grid-column-end:3;
    height: 750px;
}

#other{
    font-family: 'Merriweather Sans', sans-serif;
    padding-top: 3%;
    grid-row-start:3; grid-row-end:4;
    grid-column-start:3; grid-column-end:4;
    height: 750px;
}